<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751142741745-o29fj7lfdugjp7flka88sck8prv8svhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751142741745-o29fj7lfdugjp7flka88sck8prv8svhk</string>
	<key>API_KEY</key>
	<string>AIzaSyD9YEBZarPw1T41sk5qXoi-CES0OGysk3s</string>
	<key>GCM_SENDER_ID</key>
	<string>751142741745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseMasterClass</string>
	<key>PROJECT_ID</key>
	<string>fir-master-class-f7e61</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-master-class-f7e61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751142741745:ios:71eae2550d8c5fbfc02b50</string>
</dict>
</plist>